li {
    display: inline-block;
    padding: 10px 15px;
}

ul {
    text-align: center;
}

li a {
    border: 1px solid black;
    background: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 30px;
}

li a:hover {
    border: 1px solid black;
    background: white;
    color:black;
    
}